@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .customizeForm {
    @apply w-full  border-0 border-b-2 border-gray-300 focus:border-primary focus:ring-0 focus:border-b-3;
  }
  .customizeLabel {
    @apply text-base text-gray-700 font-bold block;
  }
  .customizeCard {
    @apply grid md:grid-cols-2 max-w-5xl mx-auto shadow-xl;
  }
  .customField {
    @apply px-5 py-2;
  }
  .customNumberInput {
    @apply focus:border-primary focus:ring-primary w-8 md:w-16;
  }
}

/* //*for the arrows in the number input type */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2 group of 3 items */
input[type="number"]:nth-child(n + 4) {
  order: 2;
}

@layer base {
  @font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    src: url(./fonts/Roboto-Bold.ttf) format("truetype");
  }
}

@keyframes typing {
  0% {
    width: 0%;
    visiblity: hidden;
  }
  100% {
    width: 100%;
  }
}

/* todo make the blink animation be seperate so that i could make it work according to my own needs */
@keyframes blink {
  0%,
  100% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
}

.animate-typing {
  animation: typing 3s steps(80);
}
